.badge {
    width: 14px;
    height: 14px;
    display: inline-block;

    &.primary {
        background-color: $brand-primary;
    }

    &.info {
        background-color: $brand-info;
    }

    &.warning {
        background-color: $brand-warning;
    }
}